/* Importação das fontes */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {
    --primary-color: #015F97; /* Azul principal */
    --hover-color: #5DB3D4;   /* Azul destaque */
    --hover-light-color: #A9D8E5;  /* Azul destaque fraco */
    --highlight-color: #FFA500; /* Laranja para destaque */
    --text-color: #333;
    --background-color: #fff;
    --background-offcolor: #e9e9e9;
}

/* Fontes e Diretrizes */
body {
    font-family: 'Titillium Web', 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
    font-size: 1rem; /* 16px */
}

.section-title{
    min-height: 100px;
}

.section-title:after{
    content: " ";
    width: 70px;
    height: 2px;
    display: block;
    background: var(--highlight-color);
    position: absolute;
    left: 50%;
    margin-left: -35px;
    margin-top: 15px;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color);
    z-index: 9999;
}
.spinner {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    margin: 6.25rem auto; /* 100px */
    background-color: var(--primary-color);
    border-radius: 100%;
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    0% { transform: scale(0); }
    100% { transform: scale(1); opacity: 0; }
}



/* Header e Navbar */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--primary-color);
    z-index: 1000;
}


.navbar {
    display: flex;
    font-family: 'Titillium Web', 'Poppins', sans-serif;
    font-size: 17px;
    text-rendering: optimizelegibility;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
}
.logo a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
}
.logo a:hover {
    color: var(--background-color);
    text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-left: 2rem; 
    display: block;
}

.nav-links a {
    text-decoration: none;
    color: var(--background-color);
    font-weight: 600;
    transition: color 0.3s;
    padding: 2rem 1.25rem 2rem 1.25rem; /* A caixinha quando está ativo*/
    border-radius: 0.25rem; 
}
.nav-links a.active {
    background-color: var(--hover-color);
    color: #222;
}
.nav-links a:hover {
    background-color: var(--hover-light-color);
    text-decoration: none;
}

.contact-button a {
    background-color: var(--highlight-color);
    color: #fff;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem; /* 4px */
}
.contact-button a:hover {
    background-color:var(--highlight-color);
}

/* Mobile Menu */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
}
.mobile-menu-icon .bar {
    display: block;
    width: 1.5625rem; /* 25px */
    height: 0.1875rem; /* 3px */
    margin: 0.3125rem; /* 5px */
    background-color: var(--hover-light-color);
}

/* Seção Home */
#home {
    width: 100%;
    height: 100vh;
    position: relative;
}
.slick-carousel {
    width: 100%;
    height: 100%;
}
.slick-carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slick-carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background-color);
    text-align: center;
}
.slick-carousel-content h1 {
    font-size: 3rem; /* 48px */
    margin-bottom: 1.25rem; /* 20px */
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.5); /* 2px 2px 4px */
}
.slick-carousel-content .btn {
    margin-top: auto;
    background: var(--primary-color);
    color: var(--background-color);
    padding: 1.25rem 2.5rem; /* 20px 40px */
    text-decoration: none;
    font-size: 1.125rem; /* 18px */
    border-radius: 0.3125rem; /* 5px */
    transition: background 0.3s;
}
.slick-carousel-content .btn:hover {
    background: var(--hover-color);
}

/* Seção Produtos */
#produtos {
    padding: 5rem 3.2rem; 
    text-align: center;
    background-color: #222;
}
#produtos h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.25rem; 
    margin-bottom: 3.125rem;
    color: var(--background-offcolor);
}
.produtos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative; 
    height: 25rem; 
}
.produto-card {
    width: 18.75rem; 
    margin: 1.25rem; 
    perspective: 1000px;
    cursor: pointer;
    position: relative; 
}
.produto-card .card-front, .produto-card .card-back {
    width: 100%;
    height: 25rem; 
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 0.7rem; 
    overflow: hidden;
}
.produto-card .card-front {
    background: var(--background-color);
    border: 0.0625rem solid var(--background-offcolor); 
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1);
}
.produto-card .card-front img {
    width: 100%;
    height: auto;
}
.produto-card .card-front h3 {
    font-size: 1.5rem; /* 24px */
    margin: 1.25rem 0;
    text-align: center;
}
.produto-card .card-back {
    background: var(--background-color);
    color: var(--text-color);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem; /* 20px */
    box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.125rem var(--hover-color);
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.125rem var(--hover-color);
}
.produto-card:hover .card-front {
    transform: rotateY(180deg);
}
.produto-card:hover .card-back {
    transform: rotateY(360deg);
}

/* Seção Orçamento */
#orcamento {
    padding: 5rem 1.25rem; /* 80px 20px */
    text-align: center;
    background: var(--background-color);
}
#orcamento h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.25rem; /* 36px */
    margin-bottom: 3.125rem; /* 50px */
}
#orcamento-form {
    max-width: 37.5rem; /* 600px */
    margin: 0 auto;
}
#orcamento-form input, #orcamento-form textarea {
    width: 100%;
    padding: 0.9375rem; /* 15px */
    margin-bottom: 1.25rem; /* 20px */
    border: 0.0625rem solid var(--background-offcolor);
    border-radius: 0.3125rem; /* 5px */
}
#orcamento-form .btn {
    background: var(--hover-color);
    color: var(--background-color);
    padding: 0.9375rem 1.875rem; /* 15px 30px */
    border: none;
    font-size: 1.125rem; /* 18px */
    border-radius: 0.3125rem; /* 5px */
    transition: background 0.3s;
}
#orcamento-form .btn:hover {
    background: var(--primary-color);
}
.form-mensagem {
    margin-top: 1.25rem; /* 20px */
    font-size: 1.125rem; /* 18px */
    color: green;
}

/* Seção Sobre */
#sobre {
    padding: 5rem 3.125rem; /* 80px 50px */
    text-align: center;
    background: var(--background-offcolor);
}
#sobre h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.25rem; /* 36px */
    margin-bottom: 1.875rem; /* 30px */
}
#sobre p {
    font-size: 1.125rem; /* 18px */
    margin-bottom: 3.125rem; /* 50px */
}
#sobre h3 {
    font-size: 1.5rem; /* 24px */
    color: var(--primary-color);
    transition: transform 0.3s;
    margin-bottom: 1.875rem; /* 30px */
}
#sobre h3:hover {
    transform: scale(1.1);
}

/* Seção Parceiros e Seguradoras */
#parceiros {
    padding: 5rem 0;
    text-align: center;
    background-color: var(--background-color);
}
#parceiros h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.25rem; /* 36px */
    margin-bottom: 3.125rem; /* 50px */
}
#parceiros .card {
    border-radius: 1rem; 
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1);
    background: var(--background-color);
    margin: 0 auto;
    overflow: hidden;
    transition: box-shadow 0.3s;
}
#parceiros .card img {
    width: 100%;
    height: auto; /* 200px */
    object-fit: cover;
    transition: transform 0.3s;
}
#parceiros .card:hover {
    box-shadow: 0 0.25rem 0.625rem rgba(0,0,0,0.2);
}
#parceiros .card img:hover {
    transform: scale(1.05);
}

/* Modal */
.modal{
    z-index: 10000;
}
.modal-content {
    border-radius: 0.625rem; /* 10px */
}
.modal-header, .modal-footer {
    border: none;
}
.modal-title {
    font-family: 'Poppins', sans-serif;
}

/* Seção Contato */
#contato {
    padding: 5rem 3.125rem; /* 80px 50px */
    text-align: center;
    background: var(--background-offcolor);
}

#contato h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem; /* 36px */
    margin-bottom: 3.125rem; /* 50px */
}
.contato-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contato-form {
    flex: 1;
    min-width: 18.75rem; /* 300px */
    max-width: 31.25rem; /* 500px */
    margin: 1.25rem; /* 20px */
}
#contato-form input, #contato-form textarea {
    width: 100%;
    padding: 0.9375rem; /* 15px */
    margin-bottom: 1.25rem; /* 20px */
    border: 0.0625rem solid var(--background-offcolor);
    border-radius: 0.3125rem; /* 5px */
}
#contato-form .btn {
    background: var(--hover-color);
    color:  var(--background-color);
    padding: 1rem 1.8rem;
    border: none;
    font-size: 1.125rem; /* 18px */
    border-radius: 0.3rem; /* 5px */
    transition: background 0.3s;
}
#contato-form .btn:hover {
    background: var(--primary-color);
}
.contato-info {
    flex: 1;
    min-width: 18rem; /* 300px */
    max-width: 31rem; /* 500px */
    margin: 1.25rem; /* 20px */
    text-align: left;
}
.contato-info h3 {
    font-size: 1.5rem; /* 24px */
    margin-bottom: 0.625rem; /* 10px */
}
.contato-info p {
    font-size: 1.125rem; /* 18px */
    margin-bottom: 1.25rem; /* 20px */
}
.social-icons {
    display: flex;
}
.social-icons a {
    color: #333;
    font-size: 1.5rem; /* 24px */
    margin-right: 0.9375rem; /* 15px */
    transition: color 0.3s;
}
.social-icons a:hover {
    color: var(--hover-color);
}

/* Footer */
footer {
    background: #222;
    color: var(--background-color);
    text-align: center;
    padding: 1.25rem 0; /* 20px 0 */
}

/* Responsividade */
@media (max-width: 48rem) { /* 768px */
    .nav-links {
        display: block;
        flex-direction: column;
        background: var(--background-color);
        position: absolute;
        top: 4.375rem; /* 70px */
        right: 0;
        width: 100%;
    }
    .nav-links li {
        margin: 1.25rem 0; /* 20px 0 */
    }
    .mobile-menu-icon {
        display: block;
    }
    .navbar {
        padding: 0.9375rem 1.25rem; /* 15px 20px */
    }
    .carousel-content h1 {
        font-size: 2rem; /* 32px */
    }
    .carousel-content .btn {
        padding: 0.625rem 1.25rem; /* 10px 20px */
        font-size: 1rem; /* 16px */
    }
    .produtos-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .produto-card {
        width: 100%;
        margin-bottom: 1.25rem; /* 20px */
    }
    #orcamento {
        padding: 3.75rem 1.25rem; /* 60px 20px */
    }
    .contato-container {
        flex-direction: column;
    }
    #parceiros .col-md-4 {
        margin-bottom: 1.875rem; /* 30px */
    }
}

/* Mouseover Interativo nos Botões */
.btn:hover {
    background: var(--hover-color);
    box-shadow: 0 0 0.625rem var(--hover-color); /* 10px */
}

/* Efeito Glow nos Ícones */
.social-icons a:hover {
    text-shadow: 0 0 0.625rem var(--highlight-color); /* 10px */
}
